.clock {
  &-screen {
    background-color: $main-bg;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Anton', 'Impact', sans-serif;
    font-size: calc( 100vw * 0.15 );
    transition: all 1s linear;
    user-select: none;
  }

  &-number {
    width: calc( 100vw * 0.2 );
    text-align: center;

    &-big {
      width: calc( 100vw * 0.3 );
      text-align: center;
    }
  }
  
  &-separator {
    width: 6vw;
    text-align: center;
  }
}

.no-seconds {
  font-size: calc( 100vw * 0.25 );
}

.warning {
  background-color: $warning-bg;
  color: white;
}

.danger {
  background-color: $danger-bg;
  color: white;
}

.limit {
  background-color: $limit-bg;
  color: white;
}

.over {
  background-color: $over-bg;
  color: white;
}