.settings {
  &-panel {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: calc( 30% - 100px );
    padding: 50px;
    border: 1px solid rgba(158,158,158, 0.3);
    background-color: rgba(158, 158, 158, 0.5);
    backdrop-filter: blur(10px);
  }

  &-header {
    display: flex;
    justify-content: space-between;
  }
}