.settings {
  &-panel {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: calc( 30% - 100px );
    padding: 50px;
    border: 1px solid rgba(255,255,255, 0.3);
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);

    form > button {
      display: block;
      position: relative;
      margin: 20px auto;
      background: #0d92e6;
      border: 1px solid #0c7ec5;
      color: white;
      padding: 8px 15px;
      border-radius: 8px;
      font-size: 14px;
      text-transform: uppercase;
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        background: #0674b8;
        border: 1px solid #065a8f;
        color: white;
      }

      &:disabled {
        background: #6192b2;
        border: 1px solid #475763;
        color: rgb(255, 255, 255);
        cursor: not-allowed;
      }
    }

    form > input[type="time"] {
      font-size: 16px;
      border: 1px solid #6192b2;
      padding: 3px 8px;
      border-radius: 5px;
      cursor: pointer;
    }

    form > label {
      display: block;
      cursor: pointer;
      user-select: none;
    }

    hr {
      background-color: rgba(96, 125, 139, 0.5);
      height: 1px;
      border: none;
    }
  }

  &-header {
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
    margin-bottom: 30px;

    h4 {
      font-size: 1.5rem;
      text-transform: uppercase;
      user-select: none;
    }

    button {
      width: 50px;
      height: 50px;
      border: none;
      border-radius: 50%;
      font-size: 20px;
      cursor: pointer;
      background: rgba(255, 255, 255, 0.3);
      transition: 0.2s;

      &:hover {
        background: rgba(255, 255, 255, 0.7);
      }
    }
  }

  &-info {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    user-select: none;

    button {
      margin-right: 10px;
      background: rgba(244, 67, 54, 0.3);
      color: white;
      font-size: 1.1rem;
      font-weight: bold;
      width: 30px;
      height: 30px;
      padding: 0;
      border: none;
      border-radius: 50%;
      transition: 0.2s;
      cursor: pointer;

      &:hover {
        background: rgba(244, 67, 54, 1);
      }
    }
  }

  &-option {
    margin-top: 20px;
    display: flex;
    align-items: center;

    input[type="checkbox"] {
      cursor: pointer;
      height: 20px;
      width: 20px;
      background-color: #eee;

      &:checked {
        background-color: #0d92e6;
      }

      &:hover {
        background-color: #2196F3;
      }

      & + label {
        cursor: pointer;
        padding-left: 8px;
        font-size: 16px;
        user-select: none;
      }
    }
  }
}