.settings {
  &-panel {
    position: absolute;
    right: 0;
    top: 0;
    height: calc(100% - 102px);
    width: calc( 30% - 100px );
    padding: 50px;
    border: 1px solid rgba(255,255,255, 0.3);
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);

    @media (max-width: $breakpoint-mobile) {
      height: calc(100% - 12px);
      width: calc(85% - 20px);
      padding: 5px 20px;
      overflow: auto;
    }

    @media (min-width: $breakpoint-mobile) and (max-width: $breakpoint-tablet) {
      height: calc(100% - 42px);
      width: calc( 70% - 20px );
      padding: 20px;
    }

    @media (min-width: $breakpoint-tablet) and (max-width: $breakpoint-computer-small) {
      height: calc(100% - 82px);
      width: calc(50% - 80px);
      padding: 40px;
    }

    @media (min-width: $breakpoint-computer-small) and (max-width: $breakpoint-computer-medium) {
      height: calc(100% - 102px);
      width: calc( 40% - 100px );
      padding: 50px;
    }

    form > button {
      display: block;
      position: relative;
      margin: 20px auto;
      background: #0d92e6;
      border: 1px solid #0c7ec5;
      color: white;
      padding: 8px 15px;
      border-radius: 8px;
      font-size: 14px;
      text-transform: uppercase;
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        background: #0674b8;
        border: 1px solid #065a8f;
        color: white;
      }

      &:disabled {
        background: #6192b2;
        border: 1px solid #475763;
        color: rgb(255, 255, 255);
        cursor: not-allowed;
      }
    }

    form > input[type="time"] {
      font-size: 16px;
      border: 1px solid #6192b2;
      padding: 3px 8px;
      border-radius: 5px;
      cursor: pointer;
    }

    form > label {
      display: block;
      cursor: pointer;
      user-select: none;
    }

    hr {
      background-color: rgba(96, 125, 139, 0.5);
      height: 1px;
      border: none;
    }
  }

  &-header {
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
    margin-bottom: 30px;

    h4 {
      font-size: 1.5rem;
      text-transform: uppercase;
      user-select: none;
    }
  }

  &-info {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    user-select: none;
  }

  &-option {
    margin-top: 20px;
    display: flex;
    align-items: center;

    input[type="checkbox"] {
      cursor: pointer;
      height: 20px;
      width: 20px;
      background-color: #eee;

      &:checked {
        background-color: #0d92e6;
      }

      &:hover {
        background-color: #2196F3;
      }

      & + label {
        cursor: pointer;
        padding-left: 8px;
        font-size: 16px;
        user-select: none;
      }
    }
  }
}