.toolbar {
  &-pannel {
    position: absolute;
    height: 100px;
    width: calc( 100% - 40px );
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &-menu {
    list-style: none;
    margin: 0px;
    padding: 0px;

    li {
      float: left;
      padding: 5px 15px;
      cursor: pointer;
      user-select: none;
      transition: 0.3s;
      border-radius: 8px;

      &:hover {
        background-color: rgba(255, 255, 255, 0.5);
      }
    }
  }
}