.toolbar {
  &-pannel {
    position: absolute;
    height: 100px;
    width: calc( 100% - 40px );
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    z-index: 1;
  }

  &-menu {
    list-style: none;
    margin: 0px;
    padding: 0px;

    li {
      float: left;
      margin: 10px;
      padding: 5px;
      cursor: pointer;
      user-select: none;

      &:hover {
        background-color: lightblue;
      }
    }
  }
}